body {
  padding-top: 80px;
  margin: 0;
  overflow-x: hidden;
}

.top-banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; 
  /* opacity: 0.75; */
  color: #02073f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: none;
  height: 80px;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
/* 
.top-banner.scrolled{
  opacity:1;
} */

.top-banner .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.top-banner .logo img {
  height: 60px;
  margin-right: 12px;
}

.top-banner .nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  align-items: stretch;
}

.top-banner .nav-links a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  height: 100%;
  white-space: nowrap;
}

.top-banner .nav-links a::after {
  content: "";
  position: absolute;
  bottom: 8px; /* adjust as needed to position underline */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3e5bba; /* light blue underline */
  transition: width 0.3s ease;
}

.top-banner .nav-links a:hover {
  color: #3e5bba; /* light blue text */
}

.top-banner .nav-links a:hover::after {
  width: 100%; /* animate underline */
}
